body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

h1, h2, h4 {
    text-align: center;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    font-size: 12px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.calling {
    background-color: #FFFFFF;
    background-image: url(images/calling.gif);
}

.not_calling {
    background-color: #FFF;
}

.next {
    background-color: #AE5CF8;
}

.in_atention {
    background-color: #0a8194;
}

.gif_comunicacion{
    align-content: "center";
}

.izquierda{
    width: 25%;
    height: 80vh;
    align-content: 'center';
    margin-left: 10px;
}

.derecha{
    width: 100%;
    height: 20vh;
    align-content: 'center';
    margin-right: 2px;
}

#pantalla-dividida{
    display: flex;
}
