{% extends 'base.html' %}
    {% block head %}
        <title>Citas del día</title>
    {% endblock %}
    
    {% block body %} 
        <div class="login">
            <h1>Citas del día</h1>
            <div align="center">
            <form action="" method="POST">
             {{ form.hidden_tag() }}
            {% for error in form.email.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            <p> 
                {{ form.email.label }} {{ form.email() }}
                {{ form.password.label }} {{ form.password() }}
            </p>
            <p>
                <input type="submit" value="ingresar">
            </p>
            </form>
            <div>
        </div>
    {% endblock %}
