{% extends 'base.html' %}
    {% block head %}
        <title>Digesto</title>
    {% endblock %}
    
    {% block body %} 
    <h1 id="titulo">Digesto</h1>
    <section id="pantalla-dividida">
        <div class="izquierda">
        <form id="formulario" method="POST">
        <p><input type="text" name="keys_words" id="keys_words" placeholder="Palabras claves" title="separadas por ,"></p>
        <p><input type="text" name="ord_number" id="ord_number" placeholder="Número de ordenanza"></p>
        <p>
            <select name="ord_type" id="ord_type">
                <optgroup>
                    <option disabled selected>Tipo de documento</option>
                    <option>Decreto</option>
                    <option>Orden</option>
                    <option>Reglamentación</option>
                </optgroup>
            </select>
        </p>
        <input type="submit" id="button" value="Buscar" onclick="search()">
        </form>
        </div>

        <div class="derecha">
            <h4>Resultados</h4>
        <div class="tableFormat">
        {% if digestos %}
        <table id="table">
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Palabras claves</th>
                <th>Tipo documento</th>
                <th>Nombre documento</th>
                <th>Documento</th>
            </tr>
            {% for digesto in digestos %}
            <tr>
                <td>{{ digesto.name }}</td>
                <td>{{ digesto.date }} </td>
                <td>{{ digesto.keywords }} </td>
                <td>{{ digesto.document_type }} </td>
                <td>{{ digesto.document_name }} </td>
                <td> <a href="/download/{{ digesto.id }}">Descargar</a> </td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
        </div>
        </div>
    </section>
    {% endblock %}
    
